@import url(/Styles/botoesCalculadora.css);
@import url(/Styles/displayCalculadora.css);
@import url(/Styles/calculadora.css);
@import url(/Styles/fundo.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

