body {
    width: 100vw;
    height: 100vh;
}
.sectionCalculadora{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #ffedd6;
    background-repeat: no-repeat;
    background-size: 350px;
    background-position:center -3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}